# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Logs
*.log

# Local development
*.db
*.sqlite3
data/
data/*.db
data/*.sqlite3